# .NET files #
###################
*.dll
*.pdb
*.cache
apphost
*.dgspec.json
*.assets.json
*.deps.json
*.runtimeconfig.json
Debug/
Release/
obj/

# Python files #
####################
*.pyc
pyproject.toml

.vs
